<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: htmlHead"></head>
<body>
<div class="container">
    <nav th:replace="fragments/navbar :: navbarMain"></nav>
    <h1><span th:text="${post.car.brand.name}"></span>&nbsp<span th:text="${post.car.modelName}"></span></h1>
    <h2><span th:text="${post.price}"></span>&nbsp;&#8381</h2>
    <div th:replace="fragments/posts/singlePostDetails :: singlePostDetails"></div>
    <div class="controls">
        <form
                method="post"
                th:action="@{|/posts/${post.id}/participate|}"
        >
            <button type="submit" class="btn btn-success">Начать сделку</button>
        </form>
    </div>
</div>
</body>
</html>