<div
        th:fragment="postsGrid"
        class="row row-cols-1 row-cols-sm-2 row-cols-md-4"
>
    <div
            th:each="post : ${posts}"
            class="post col mb-2"
    >
        <a
                th:href="@{|/posts/${post.id}|}"
                class="post-link"
        >
            <div class="img">
                <div class="img-crop img-crop-200">
                    <div class="crop-wrapper">
                        <img width="200" th:src="@{|/posts/photo/${post.id}|}">
                    </div>
                </div>
            </div>
            <div class="car-price">
                <span th:text="${post.price}"></span>&nbsp;&#8381;
            </div>
            <div class="car-title">
                <span th:text="${post.car.brand.name + ' ' + post.car.modelName}"></span>
            </div>
            <div class="car-production-year">
                <span th:text="${post.car.productionYear}"></span>
            </div>
        </a>
    </div>
</div>